<div class="container mt-3">
  <div class="row">
    <div class="col-9">
      <div
        *ngFor="let item of cartItems"
        class="d-flex gap-3 justify-content-between"
      >
        <div class="w-25 small-img">
          <img src="{{ item.image }}" alt="" />
        </div>
        <h4 class="w-25">{{ item.title }}</h4>
        <div class="w-25">
          <p>{{ item.price | currency }}</p>
          <p>Qty: {{ item.quantity }}</p>
        </div>
        <div class="w-25">
          <p>cost: {{ item.price * item.quantity | currency }}</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="ms-auto" *ngIf="total > 0">
        <p>Total Cost</p>
        <p>{{ total | currency }}</p>
      </div>
    </div>
  </div>
  <hr />
  <div class="w-25">
    <img class="w-100" src="assets/basketApp.png" alt="" />
  </div>
</div>
